.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20px;
  padding-bottom: 8%;
}

.titre-card {
  margin-bottom: -5px;
  font-size: 30px;
  color: rgb(128, 120, 120);
}

.achetez {
  margin-top: 10px;
  color: rgb(128, 120, 120);
}

.valentino {
  margin-left: 40%;
  color: black;
  font-size: 20px;
  position: relative;
}
