.card {
  height: 450px;
  width: 325px;
  background-color: #ebebeb;
  padding-top: 20px;
}

.chaussure {
  margin-top: 20%;
  margin-left: 20px;
}

.reduction {
  background-color: black;
  color: white;
  position: relative;
  font-size: 12px;
  padding: 3px;
  width: 100px;
  margin-left: 20px;
}

.descriptif {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.bloc {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.tarif2 {
  text-decoration: line-through;
  margin-right: 5px;
}
