.categorie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 40px;
  color: white;
  padding-left: 170px;
  padding-right: 170px;
}

.choix:hover {
  text-decoration: underline;
  text-underline-offset: 13px;
}

.outlet {
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
}
