.lienModal {
  display: flex;
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
}

.lien {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ouverture {
  margin-left: 110px;
}

.service {
  margin-left: auto;
  margin-right: 110px;
}
