.menu {
  background-color: black;
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: 2;
  color: white;
  padding-top: 10px;
  padding-left: 150px;
  padding-bottom: 40px;
  display: flex;
}

.titre:hover,
h3:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.range1 {
  margin-right: 80px;
  border-right: 1px solid white;
  height: auto;
  padding-right: 80px;
}
