.recherche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 110px;
  padding-right: 90px;
  background-color: #fafafa;
  margin-top: -20px;
  padding-bottom: 20px;
}

.icon {
  display: flex;
}

.rond {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ebebeb;
  margin-right: 20px;
}

.fa {
  margin: 35%;
}

.input {
  border: none;
  margin-left: 20px;
  background-color: #fafafa;
}

.look {
  display: flex;
  align-items: center;
  border: 1px solid rgb(179, 176, 176);
  border-radius: 5px;
  height: 50px;
  padding-left: 10px;
  padding-right: 130px;
}
